@model List<ArchitectureCompany.ViewModels.Projects.ProjectIndexViewModel>


<div class="jumbotron">
    <h2 class="display-4">Finished projects</h2>
    <hr />
    <div class="container">
        <div class="row mx-auto ">
            @foreach (var item in Model)
            {
                <div class="card mx-auto my-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Building type: @item.BuildingType</p>
                        <p class="card-text">Capacity: @item.Capacity</p>
                        <p class="card-text">Release date: @item.ReleaseDate</p>
                        <p class="card-text">Flooe area: @item.FloorArea</p>
                        <p class="card-text">Floors count: @item.FloorsCount</p>
                        <p class="card-text">Address: @item.Address</p>
                        <img class="img-thumbnail" src="@item.ImageUrl" />
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>