@model ArchitectureCompany.ViewModels.Projects.ProjectIndexViewModel

<h1>Destinations page</h1>


<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Destinations)
        {
            <tr>
                <td>@p.StartAirport</td>
                <td>@p.DestinationAirport</td>
                <td>@p.Date</td>
                <td>@p.Price</td>
                <td><img src="@p.ImageUrl" width="300px" height="150px" /></td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<partial name="_PagingPartial" />